<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>@message("app.title")</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" media="screen" href='@url("/css/pure-min.css")'>
<link rel="stylesheet" type="text/css" media="screen" href='@url("/css/email.css")'>
@render(styles){
	@//more css styles can be load here
}
</head>
<body>
		<!--Main content-->
		@doLayout()
</body>
<script type="text/javascript" src='@url("/js/jquery.js")'></script>
@render(javascripts){
	@//more javascript can be load here
}
</html>